@font-face {
    font-family: 'TheGoodMonolith';
    font-style: normal;
    font-weight: 500;
    src: local('TheGoodMonolith'), url('https://fonts.cdnfonts.com/s/32398/TheGoodMonolith.woff') format('woff');
  }
@font-face {
    font-family: 'HAKSEN';
    font-style: normal;
    font-weight: 400;
    src: local('HAKSEN'), url('https://fonts.cdnfonts.com/s/83986/Haksen-BWmp8.woff') format('woff');
  }
.mainAbout{
  margin-left:200px;
}
.aboutTitle{
    font-family: 'HAKSEN';
    font-size: 55;
    font-weight: bold;
    margin-top: 55px;
    color:white;
    margin-left: 100px;
    margin-right:134px;
}
.aboutFont{
    font-family: 'Enhanced LED Board-7';
    margin: 23px;
    color:white;
    font-size:24px;
    margin-left:100px;

}
.listabout{
  margin-left:100px ;
}
@media (max-width:600px){
  .mainAbout{
    margin-left: 0px;
  }
  .aboutTitle{
    margin-left: 23px;
  }
  .aboutFont{
    margin-left:23px;
  }
  .listabout{
    margin-left:0px;

  }
  
}
