html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;

  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main {
  min-height: 100vh;

  flex: 1;
  display: flex;
  flex-direction: column;
}
.projectView{
  overflow: auto;
  white-space: nowrap;
}
.projectViewChild{
  display: inline-block;
}
@font-face {
  font-family: 'Enhanced LED Board-7';
  font-style: normal;
  font-weight: 400;
  src: local('Enhanced LED Board-7'), url('https://fonts.cdnfonts.com/s/71718/enhanced_led_board-7.woff') format('woff');
}
