html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;

  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main {
  min-height: 100vh;

  flex: 1;
  display: flex;
  flex-direction: column;
}
.backgroundMain{
  
  background-color: #000000; 
  background-image: linear-gradient(315deg, #000000 0%, #1e1d1d 74%);
}
.projectView{
  overflow: auto;
  white-space: nowrap;
}
.projectViewChild{
  display: inline-block;
}
.header{
  position: fixed;
  background-color: rgb(16, 16, 16);
  color: azure;
  display: flex;
  font-family: 'TheGoodMonolith';
  z-index: 10;

}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(17, 17, 17, 0.671);  
  backdrop-filter: blur(5px);
  
}

@font-face {
  font-family: 'Enhanced LED Board-7';
  font-style: normal;
  font-weight: 400;
  src: local('Enhanced LED Board-7'), url('https://fonts.cdnfonts.com/s/71718/enhanced_led_board-7.woff') format('woff');
}
@font-face {
  font-family: 'TheGoodMonolith';
  font-style: normal;
  font-weight: 500;
  src: local('TheGoodMonolith'), url('https://fonts.cdnfonts.com/s/32398/TheGoodMonolith.woff') format('woff');
}
