.Hcontainer::-webkit-scrollbar{
    width: 0px;
}
.Hcontainer{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    
}
.card{
    

    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition:  transform 2s;
}
.card:hover{
    transform: scale(0.9);
    
  }