.header{
    position: fixed;
    background-color: rgb(16, 16, 16);
    color: azure;
    display: flex;
}
.nav{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(59, 59, 59, 0.15);
    
}
.blurred{
    position: relative;
    filter: blur(5px);
    background-position: top;
}
.blurred span{
    
    color: #ccc;
    z-index: 0;
}